<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google sign in</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.146150298898-04qhulv7odcv3112io90r0gd9d8bi3tl</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>146150298898-04qhulv7odcv3112io90r0gd9d8bi3tl.apps.googleusercontent.com</string>
</dict>
</plist>
